
body{
    border: 1px solid black;
}
.H_button{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}
.name{
    font-size: 40px;
    font-weight: 700;
    margin-right:500px;
}
.btn_button{
    background-color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 7px;
}
.banner{
    background-image: url(assets/Hero-bg.png);
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 200px;
    margin-left: 400px;
    padding-left: 230px;
}
.S_header{
    font-size: 50px;
    /* font-family:'Courier New', Courier, monospace; */
    text-align: center; 
    
}
.H3{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #726a6a;
    margin-top: 5px;
}
.b_button{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: #131313;
    align-items: center;
    margin-left: 50px;
    border-radius: 5px;
}
.secend_button{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #0c0c0c;
    color: hsl(0, 12%, 91%);
    align-items: center;
    margin-left: 650px;
    border-radius: 5px;

}
.H2{
    font-size: 30px;
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    
}
.D_cod{
    font-size: 25px;
    /* font-family: 'Courier New', Courier, monospace; */
    ;
    color: hsl(0, 1%, 34%);
}
.H_lorem{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #746e6e;
    margin-top: 5px;
}
.L_more{
    font-size: 20px;
    /* margin: 20px; */
    padding: 10px;
    background-color: #f1ebeb;
    color: hsl(0, 0%, 21%);
    border-color: #817b7b;
    
}
.secend_sec{
    display: flex; 
    margin-left: 200px;
    margin-top: 80px;
}
.third_div{
    margin-right: 80px;
    padding: 15px;
    width: 400px;
    
}
.M_div{
    background-color: #faf9f7;
    margin: 100px;
    padding: 10px;
}
.second_part{
    display: flex; 
    margin-left: 200px;
    margin-top: 80px;
    background-color: white
}
.my_ins{
    text-align: center;
}
.section_one{
    background-color: hwb(0 93% 2%);
    width: 250px;
    height: 200px;
    border: 1px solid #f2ebf2;
    margin: 30px;
    padding: 40px;
    box-shadow: 5px 5px opx opx;
}
.p_one{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(117, 111, 111);
    margin-top: 5px;
}
.section_one li{
    list-style: none;  
}
.sec_content{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.section_two{
    background-color: rgb(231, 243, 250);
    width: 250px;
    height: 200px;
    border: 1px solid #f2ebf2;
    margin: 30px;
    padding: 40px;
    box-shadow: 5px 5px opx opx;
    list-style: none;
}
.N_target{
    font-size: 30px;
}
.target_section{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.third_content{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    padding-top: 10px;
    border: 1px solid hwb(0 66% 33%);
    border-radius: 10px;
    align-items: center;
}
.third_content img{
    margin-top: 25px;
}
.third_content li{
    list-style: none;
}
.react_content{
    margin-left: 30px;
    margin-top: 5px;
}
.react_content h2{
    font-size: 30px;
}
.three_content{
    margin-top: 10px;
}
.l_content{
    text-align: center;
}
.last_content{
    text-align: center;
}
.final_content{
    background-image: url(assets/handshake.jpg);
    background-position: opx;
    max-width: 1050px;
    margin-left: 150px;
    padding: 50px;
    text-align: center;
    border-radius: 15px;
}
.video_container{
    margin: 60px 400px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    
}
.f_commit{
    font-size: 20px;
    word-spacing: 2px;
    padding: 20px;
    margin-right: 500px;
    margin-left: 115px;
}
.f_icon a{
    margin: 20px;
    padding-top: 50px;
    text-align: center;
    /* margin-top: 10px; */
    
}
.footer_section{
    display: flex;
    margin-top: 50px;
    text-align: center;
}
.input_message{
    width:250px;
    border:  none;
    height: 30px;
    font-size: 16px;
    outline: none;
    color: #757575;
    padding: 18px 35px;
    border-radius: 10px;
    
}
.btn_button{
    font-size: 17px;
    background-color: #fff;
    padding: 18px;
    border-radius: 7px;
    color: #000;
    width: 120px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}
.input_data{
    text-align: center;
}
.main_footer{
    background-image: url(assets/handshake.jpg);
    margin: 40px;
    padding: 20px;
    width: 1100px;
    margin-left: 150px;
    padding: 50px;
    border-radius: 10px;
}
.footer_data{
    text-align: center;
}
.H_footer{
    color: #f1ebeb;
    font-size: 40px;   
}
.footer_lorem{
    color: hsl(0, 2%, 65%);
    font-size: 20px;
}
